body{
    vertical-align: center;
    /* position: fixed; */
    }

table{ 
    margin: 0 auto;
    font-weight: bold;
    border-radius: 2px;

} 

td {
    color: white;
    background-color:rgb(119, 113, 113);
    height:30px;
    width:30px;
    cursor: pointer;
    border-radius: 2px;
}
/* 
.scores{
margin: auto;
}
.score-table{
    color: rgb(16, 15, 15);
    background-color:rgb(119, 113, 113);
    height:30px;
    width:30px;
    margin-left: 1000px;
} */
td:hover {
    background-color: #E5E5BE;
    color: #003973;
}

.modal{
    display: none;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(255, 227, 16);
    color: black;
    font-size: medium;
    height:25px;
    width:200px;
}
h1{
    text-align: center;
}


.stage{
    background-color: rgba(22, 107, 204, 0.207);
    color: black;
    width:1500px;
    height: 1400px;
    vertical-align: middle;

}
.game-container{
    vertical-align: auto;
    width: 1000px;
    height: 1000px;
    margin-left: 125px;
}

.timer{
    background-color: yellow;
    color: black;
    width: 80px;
    height: 25px;
    margin: auto;
    text-align: center;
    font-size: x-large;
}
.level{
    width: 800px;
    height: 40px;
    margin: auto;
    text-align: center;
}

/* .best-score-container{
    width: 300px;
    height: 250px;
    text-align: center;
    background-color: aqua;
    margin-left: 1000px;

} */
.lives{
    margin: auto;
    text-align: center;
}
.position-mines{
    width: 350px;
    height: 50px;
    text-align: center;
    margin: auto; 
}
.undo-button{
    width: 110px;
    height: 25px;
    text-align: center;
    margin: auto; 
}
.emoji{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.emoji-button{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
.safe-click{
    height: 40px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.hint{
    width: 800px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

