table {
    margin: 0 auto;
    font-weight: bold;
    border-radius: 2px;
}

td {
    color: white;
    background-color:rgb(119, 113, 113);
    height:30px;
    width:30px;
    cursor: pointer;
    border-radius: 2px;
    
}

td:hover {
    background-color: #E5E5BE;
    color: #003973;
}